* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #1f1f1f;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.container a {
    color: rgb(215,215,179);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

input[type='text'], input[type='password']{
    width: 100%;
    padding: 10px;
    margin: 1px;
    border: 1px solid #555;
    border-radius: 4px;
    background: #444;
    color: #fff;
}

button {
    width: 100%;
    padding: 10px;
    margin: 1px;
    background: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    background: #4caf49;
}
